<div class="ae-grid au-pt-2">
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <h4 class="ae-u-bolder">
      Most of the Projects I Worked On are Cryptocurrency Related Only Live and
      Running Projects are listed
    </h4>
  </div>
  <div class="ae-grid ae-grid--alt au-xs-ptp-1">
    <div class="ae-grid__item--alt item-lg-4 pro-block">
      <h6 class="ae-u-boldest">OKCAB: Kratzen Taxi Booking App</h6>
      <a
        class="tiny"
        target="_blank"
        href="https://play.google.com/store/apps/details?id=com.okcab.taxirider"
        >Playstore</a
      >
      <p class="au-lh-3">Taxi booking app like Uber & Ola in Hubli.</p>
      <ul>
        <li>
          Full-stack Web and Android application a Taxi Booking App for
          Hubli-Dharwad Cities. Booking taxi and Auto around location along with
          referral benefits. The application allows both passengers and drivers
          to leave ratings, comments, feedback, etc.
        </li>
        <li>
          Used technologies: Angular, Ionic Framework, Firebase, NodeJs, Google
          Analytics, HTML, CSS, Typescript.
        </li>
      </ul>
    </div>
    <div class="ae-grid__item--alt item-lg-4 pro-block">
      <h6 class="ae-u-boldest">PublicNext</h6>
      <a class="tiny" target="_blank" href="https://publicnext.com">Website</a>
      <p class="au-lh-3">Hyper-Local News and Social Media in Hubli-Dharwad.</p>
      <ul>
        <li>
          Created a product for sharing local news, stories, jobs, and offers.
          The application enables both Public and Local Business to reach the
          local population effectively.
        </li>
        <li>
          Used technologies: Drupal (back-end), Codeigniter (front-end), MySQL,
          HTML, CSS, JS, JQuery, Bootstrap.
        </li>
      </ul>
    </div>
    <div class="ae-grid__item--alt item-lg-4 pro-block">
      <h6 class="ae-u-boldest">
        ERD Token - Crypto Wallet, Earn Tokens & Pay Bills
      </h6>
      <a
        class="tiny"
        target="_blank"
        href="https://play.google.com/store/apps/details?id=com.erdtoken.android"
        >Playstore</a
      >
      <p class="au-lh-3">A product for Crypocurrency Walet</p>
      <ul>
        <li>
          Used technologies: Ionic, Cordova, Typescript, Angular, HTML, CSS.
        </li>
      </ul>
    </div>
    <div class="ae-grid__item--alt item-lg-4 pro-block">
      <h6 class="ae-u-boldest">The Virgo Wallet App</h6>
      <a class="tiny" target="_blank" href="https://virgo.fund/">Website</a>
      <p class="au-lh-3">
        A Front-end Website and Android Application, a Multi-wallet system that
        handles transactions of the Virgo Token on Virgo blockchain. Virgo
        Token's VG Wallet gives users easy access to their funds.
      </p>
      <ul>
        <li>
          Used technologies: Ionic, Cordova, Typescript, Codeigniter, HTML, CSS,
          JavaScript.
        </li>
      </ul>
    </div>
    <div class="ae-grid__item--alt item-lg-4 pro-block">
      <h6 class="ae-u-boldest">
        Coinpedia : Bitcoin News and CryptoCurrency Price
      </h6>
      <a class="tiny" target="_blank" href="https://coinpedia.org">Website</a>

      <p class="au-lh-3">
        Bitcoin and crypto News Cryptocurrency price ticker price alert
        notifications.
      </p>
      <ul>
        <li>
          Used technologies: Ionic, Cordova, Typescript, Codeigniter, HTML, CSS,
          JavaScript.
        </li>
      </ul>
    </div>
  </div>
</div>
